.App {
  font-family: sans-serif;
  text-align: center;
}
.winner {
  font-size: 24px; /* Adjust the font size as needed */
  color: #0077b6; /* Change the color to your preferred color */
  margin-top: -160px; /* Add spacing at the top */
  font-weight: bold; /* Make the text bold */
  text-align: center;
   /* Center-align the text */
}